# /etc/systemd/system/portainer-agent.service
[Unit]
Description=portainer-agent Service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardError=null
StandardOutput=null
WorkingDirectory=/etc/docker/compose/portainer-agent
ExecStartPre=/usr/bin/docker-compose -f /etc/docker/compose/portainer-agent/docker-compose.yml pull
ExecStart=/usr/bin/docker-compose -f /etc/docker/compose/portainer-agent/docker-compose.yml up -d --force-recreate
ExecStop=/usr/bin/docker-compose -f /etc/docker/compose/portainer-agent/docker-compose.yml down

[Install]
WantedBy=multi-user.target
