version: '3'

services:
  webserver-vanilla:
    hostname: vanilla-webserver
    image: httpd:latest
    restart: always
    ports:
      - 172.18.2.94:8080:80
    volumes:
      - /mnt/nfs/darkwindcraft/mcmaps/vanilla-www/:/usr/local/apache2/htdocs/

  webserver-pixelmon:
    hostname: pixelmon-webserver
    image: httpd:latest
    restart: always
    ports:
      - 172.18.2.94:8081:80
    volumes:
      - /mnt/nfs/darkwindcraft/mcmaps/pixelmon-www/:/usr/local/apache2/htdocs/

  webserver-arckeya:
    hostname: pixelmon-webserver
    image: httpd:latest
    restart: always
    ports:
      - 172.18.2.94:8082:80
    volumes:
      - /mnt/nfs/darkwindcraft/mcmaps/arckeya-www/:/usr/local/apache2/htdocs/
