version: '3'

volumes:
  mysql:

services:
  server:
    image: rancher/rancher:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - mysql:/var/lib/mysql
    environment:
      TZ: {{ server_timezone }}
