version: '3'

services:
  db:
    hostname: db
    build:
      context: .
    restart: always
    volumes:
      - data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: {{ GUACAMOLE_MYSQL_ROOT_PASSWORD }}
      MYSQL_DATABASE: {{ GUACAMOLE_MYSQL_DATABASE }}
      MYSQL_USER: {{ GUACAMOLE_MYSQL_USER }}
      MYSQL_PASSWORD: {{ GUACAMOLE_MYSQL_PASSWORD }}

  guacd:
    hostname: guacd
    image: guacamole/guacd
    restart: always

  guacamole:
    hostname: guacamole
    image: guacamole/guacamole
    restart: always
    links:
      - guacd
      - db
    environment:
      GUACD_HOSTNAME: guacd
      MYSQL_HOSTNAME: db
      MYSQL_DATABASE: {{ GUACAMOLE_MYSQL_DATABASE }}
      MYSQL_USER: {{ GUACAMOLE_MYSQL_USER }}
      MYSQL_PASSWORD: {{ GUACAMOLE_MYSQL_PASSWORD }}

  ngnx:
    hostname: nginx
    image: nginx
    restart: always
    ports:
      - {{ GUACAMOLE_LISTENING_PORT }}:80
    volumes:
      - /etc/docker/compose/guacamole/nginx.conf:/etc/nginx/conf.d/default.conf
    links:
      - guacamole

  dyndns:
    image: bshaw/route53-dyndns
    restart: always
    environment:
      AWS_ACCESS_KEY_ID: {{ AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: {{ AWS_SECRET_ACCESS_KEY }}
      AWS_CONNECTION_REGION: us-east-1
      ROUTE53_DOMAIN_A_RECORD: {{ GUACAMOLE_PUBLIC_FQDN }}
      ROUTE53_UPDATE_FREQUENCY: 10800

volumes:
  data:
