version: '3'

services:
  grafana:
    image: grafana/grafana
    restart: always
    network_mode: host
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      TZ: {{ server_timezone }}

volumes:
  grafana-data:
