version: '3'

services:
  kapacitor:
    image: kapacitor
    restart: always
    ports:
      - 9092:9092
    volumes:
      - /var/lib/kapacitor:/var/lib/kapacitor
    environment:
      TZ: {{ server_timezone }}
      KAPACITOR_HOSTNAME: kapacitor
      KAPACITOR_INFLUXDB_0_URLS_0: http://localhost:8086