version: '2'

volumes:
  config:

services:
  plex:
    image: plexinc/pms-docker
    restart: always
    ports:
      - 32400:32400
    volumes:
      - config:/config
      - /mnt/nfs/plex:/data
      - /tmp:/tmp
    environment:
      - PLEX_CLAIM={{ PLEX_CLAIM_CODE }}
      - TZ={{ server_timezone }}

  dyndns:
    image: bshaw/route53-dyndns
    restart: always
    environment:
      AWS_ACCESS_KEY_ID: {{ AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: {{ AWS_SECRET_ACCESS_KEY }}
      AWS_CONNECTION_REGION: us-east-1
      ROUTE53_DOMAIN_A_RECORD: {{ PLEX_PUBLIC_FQDN }}
      ROUTE53_UPDATE_FREQUENCY: 10800
