version: '2'

volumes:
  config:

services:
  plex:
    image: plexinc/pms-docker
    restart: always
    ports:
      - 32400:32400
    volumes:
      - config:/config
      - /mnt/nfs/plex:/data
      - /tmp:/tmp
    environment:
      - PLEX_CLAIM={{ PLEX_CLAIM_CODE }}
      - TZ={{ server_timezone }}
