<?php
// Some discovery settings
$config['discovery_by_ip'] = true;
$config['mydomain'] = '{{ DOMAIN }}';

// Enable POE stats
$config['enable_ports_poe'] = 1;

// Enable Syslog
$config['enable_syslog'] = 1;

// Dont allow duplicate entries
$config['allow_duplicate_sysName'] = false;

// SNMP Settings 
$config['snmp']['timeout'] = 1;
$config['snmp']['retries'] = 5;
$config['snmp']['transports'] = array('udp', 'tcp');
$config['snmp']['version'] = ['v3', 'v2c', 'v1'];
$config['snmp']['port'] = 161;
$config['snmp']['exec_timeout'] = 1200;

// v1 or v2c
$config['snmp']['community'] = array('{{ SNMP_COMMUNITY }}', 'public');

// v3
$config['snmp']['v3'][0]['authlevel'] = '{{ SNMP_V3_AUTHLEVEL }}';
$config['snmp']['v3'][0]['authname'] = '{{ SNMP_V3_USER }}';
$config['snmp']['v3'][0]['authpass'] = '{{ SNMP_V3_PASSWORD }}';
$config['snmp']['v3'][0]['authalgo'] = '{{ SNMP_V3_AUTHALGO }}';
$config['snmp']['v3'][0]['cryptopass'] = '{{ SNMP_V3_CRYPTOPASS }}';
$config['snmp']['v3'][0]['cryptoalgo'] = '{{ SNMP_V3_CRYPTOALGO }}';
