# /etc/systemd/system/grafana.service
[Unit]
Description=Grafana Service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardError=null
StandardOutput=null
WorkingDirectory=/etc/docker/compose/grafana
ExecStart=/usr/bin/docker-compose -f /etc/docker/compose/grafana/docker-compose.yml up -d --force-recreate
ExecStop=/usr/bin/docker-compose -f /etc/docker/compose/grafana/docker-compose.yml down

[Install]
WantedBy=multi-user.target
