version: '3'

services:
  inluxdb:
    image: influxdb
    restart: always
    network_mode: host
    volumes:
      - /var/lib/influxdb:/var/lib/influxdb
    environment:
      TZ: {{ server_timezone }}
