# /etc/systemd/system/minecraft-map.service
[Unit]
Description=minecraft-map Service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardError=null
StandardOutput=null
WorkingDirectory=/etc/docker/compose/minecraft-map
ExecStartPre=/usr/bin/docker-compose -f /etc/docker/compose/minecraft-map/docker-compose.yml pull
ExecStart=/usr/bin/docker-compose -f /etc/docker/compose/minecraft-map/docker-compose.yml up -d
ExecStop=/usr/bin/docker-compose -f /etc/docker/compose/minecraft-map/docker-compose.yml down

[Install]
WantedBy=multi-user.target