version: '3'

services:
  grafana:
    image: grafana/grafana
    restart: always
    ports:
      - 3000:3000
    volumes:
      - /var/lib/grafana:/var/lib/grafana
    environment:
      TZ: {{ server_timezone }}
