# /etc/systemd/system/kapacitor.service
[Unit]
Description=kapacitor Service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
StandardError=null
StandardOutput=null
WorkingDirectory=/etc/docker/compose/kapacitor
ExecStartPre=/usr/bin/docker-compose -f /etc/docker/compose/kapacitor/docker-compose.yml pull
ExecStart=/usr/bin/docker-compose -f /etc/docker/compose/kapacitor/docker-compose.yml up -d --force-recreate
ExecStop=/usr/bin/docker-compose -f /etc/docker/compose/kapacitor/docker-compose.yml down

[Install]
WantedBy=multi-user.target
