version: '3'

volumes:
  data:

services:
  starbound:
    image: lacsap/starbound
    restart: always
    ports:
      - 21025:21025
    volumes:
      - data:/server/steamcmd/starbound 
    environment:
      TZ: {{ server_timezone }}
      STEAM_USERNAME: {{ STEAM_USERNAME }}
      STEAM_PASSWORD: {{ STEAM_PASSWORD }}
