version: '2'

volumes:
  config:

services:
  ombi:
    image: linuxserver/ombi
    restart: always
    ports:
      - 3579:3579
    volumes:
      - config:/config
    environment:
      - TZ={{ server_timezone }}

  dyndns:
    image: bshaw/route53-dyndns
    restart: always
    environment:
      AWS_ACCESS_KEY_ID: {{ AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: {{ AWS_SECRET_ACCESS_KEY }}
      AWS_CONNECTION_REGION: us-east-1
      ROUTE53_DOMAIN_A_RECORD: {{ OMBI_PUBLIC_FQDN }}
      ROUTE53_UPDATE_FREQUENCY: 10800
