version: '2'

volumes:
  config:

services:
  ombi:
    image: linuxserver/ombi
    restart: always
    ports:
      - 3579:3579
    volumes:
      - config:/config
    environment:
      - TZ={{ server_timezone }}
